a.logo
{
	color: #8AC249;
	font-family: Helvetica;
	font-weight: 900;
}

.lite{
    color: #00BBD3; 
}
body
{
	font-family: Helvetica;
	font-weight: 600;
	background-color: #DBECC7;
}

.empty
{
	height: 70px;
}